body{
  background-image: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0.7), 
        rgba(20, 20, 20, 0.7)
    ), 
    url('./image/IMG_20251210_164950_618.jpg');
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
}
.container{
    padding: 5px;
    background-color: rgb(1, 45, 82);
    position: relative;
    border-radius: 0 0 5px 5px;
}
.container h1{
    position: relative;
    text-align: center;
    color: rgb(180, 168, 240);
    text-shadow: 0 0 10px cyan;
    bottom: 20px;
}
.controls{
    padding: 10px 10px;
    background-color: #3a3b6b;
    border-radius: 5px;
    border-bottom: 2px solid yellow;
    border-top: 2px solid goldenrod;
    text-align: center;
    overflow-wrap: break-word;
    position: relative;
}
.controls label{
    font-size: 20px bold;
    color: rgb(2, 255, 116);
    font-weight: 900;
    font-style: italic;
}
.controls select{
    padding: 8px 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    border: none;
    color: white;
    cursor: pointer;
    background-color:#353661;
}
.controls select:hover{
     transition: all ease-in 0.3s;
    cursor: pointer;
    transform: scale(1.02);
    color: rgb(8, 8, 8);
    background-color: #023b3b;
    box-shadow:  0 0 10px cyan;
}
.btn-run{
    padding: 8px 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    border: none;
    cursor: pointer;
    background-color: #027039;
    color: white;
}
.btn-run:hover{
     transition: all ease-in 0.3s;
    cursor: pointer;
    transform: scale(1.02);
    color: white;
    background-color: #3b021e;
}
.btn-save{
     padding: 8px 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    border: none;
    cursor: pointer;
    background-color: #022b81;
    color: white;
}
.btn-save:hover{
     transition: all ease-in 0.3s;
    cursor: pointer;
    transform: scale(1.02);
    color: white;
    background-color: #3b020a;
}
.btn-clear{
     padding: 8px 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    border: none;
    cursor: pointer;
    background-color: #811502;
    color: white;
}
.btn-clear:hover{
     transition: all ease-in 0.3s;
    cursor: pointer;
    transform: scale(1.02);
    color: white;
    background-color: #3b0f02;
}
.btn-theme{
    padding: 8px 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
.btn-theme:hover{
     transition: all ease-in 0.3s;
    cursor: pointer;
    transform: scale(1.02);
    color: white;
    background-color: #02442e;
}
.btn-setting{
     padding: 8px 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}
.btn-setting:hover{
    transition: all ease-in 0.3s;
    cursor: pointer;
    transform: scale(1.02);
    color: white;
    background-color: #023b3b;
}
.btn{
     padding: 8px 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    border: none;
    cursor: pointer;
    background-color: #004a75;
    color: rgb(0, 0, 0);
}
.btn:hover{
    transition: all ease-in 0.3s;
    cursor: pointer;
    transform: scale(1.02);
    background-color: #023d20;
}
.editor-container{
    position: relative;
    height: auto;
    width: 100vw;
}
.code{
    justify-self: left;
    position: relative;
    margin-left: 30px;
}
.code textarea{
    width: 49.7vw;
    border: none;
    position: relative;
    bottom: 10px;
    color: white;
    font-style: italic;
    height: 37vw;
    border-radius:10px;
    background-color: transparent;
    border: 1px solid green;
}
.code textarea:hover{
    transition: all ease-in.3s;
    transform: scale(1.01);
    cursor: pointer;
    background-color: #181717;
}
.code textarea::placeholder{
    top: 20px;
    margin-left: 30px;
    position: relative;
}
.code h2{
    position: relative;
    text-align: center;
    top: 5px;
    color: whitesmoke;
}
.console{
    position: absolute;
    justify-self: right;
    margin-right: 20px;
    top: 0px;
}
.console h2{
    position: relative;
    bottom: 40px;
    color: rgb(6, 146, 18);
}
.terminal-header{
    position: relative;
    bottom: 60px;
    color:linen;
}
.terminal{
    width: 40vw;
    height: 75vh;
    bottom: 50px;
    position: relative;
    margin-right: 30px;
    background-color:transparent;
    border-radius: 10px;
    border: 1px solid cyan;
}
.terminal:hover{
    transition: all ease-in.3s;
    transform: scale(1.01);
    cursor: pointer;
    background-color: #211622;
}
.terminal b{
    position: relative;
    top: 10px;
    margin-left: 20px;
    color: #8f8d8d;
}
@media(max-width:600px){
    .code textarea{
        position: relative;
        width: 80vw;
        height: 30vh;
        margin-right: 20px;
    }
    .code{
        position: relative;
        justify-self: center;
        margin-left: 0px;
    }
    .console{
        position: relative;
        justify-self: center;
        top: 20px;
    }
    .terminal{
        position: relative;
        width: 80vw;
        height: 30vh;
        margin-right: 0px;
        justify-self: center;
        bottom: 40px;
    }
}
.file{
    padding: 10px 10px;
    background-color: #242630;
    border-bottom: 1px solid #ffffff;
    position: relative;
}
.file h3{
    font: bold;
    font-size: 2rem;
    color: #ffffff;
}
.file input{
    padding: 10px 12px;
    background-color: #585858;
    border: none;
    cursor: pointer;
    color: white;
}
.file input::placeholder{
    font: 18px bold;
    color: black;
}
.file input:hover{
    font: bold;
    font-weight: 500;
    border-radius: 5px;
    transform: scale(1.03);
}
.btn1{
    padding: 10px 10px;
    background-color:#eb6442;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}
.btn1:hover{
     transition: all ease-in 0.3s;
    cursor: pointer;
    transform: scale(1.02);
    color: white;
    background-color: #023b3b;
}
.btn2{
    padding: 10px 10px;
    background-color: #010130;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: whitesmoke;
    font-size: 15px;
}
.btn2:hover{
     transition: all ease-in 0.3s;
    cursor: pointer;
    transform: scale(1.02);
    color: white;
    background-color: #013131;
}
.btn3{
    padding: 10px 10px;
    background-color: #42eb7a;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    color: black;
}
.btn3:hover{
     transition: all ease-in 0.3s;
    cursor: pointer;
    transform: scale(1.02);
    color: white;
    background-color: #1d023b;
}
@media(max-width:600px){
    .file input{
        position: relative;
        justify-self: center;
        bottom: 40px;
        width: 70vw;
        height: 4vh;
        background-color: whitesmoke;
        color: black;
    }
    .file h3{
        position: relative;
        bottom: 20px;
        color: black;
    }
    .btn1{
        position: relative;
        bottom: 30px;
    }
    .btn6{
        position: relative;
        top: 10px;
    }
}
.footer{
    padding: 20px 20px;
    background-color: #000;
}
.footer p{
    color: white;
}
.btn4{
    position: relative;
    padding: 10px 10px;
    background-color: dodgerblue;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}
.btn4:hover{
     transition: all ease-in 0.3s;
    cursor: pointer;
    transform: scale(1.02);
    color: white;
    background-color: #0c2929;
}
.btn5{
    padding: 10px 10px;
    background-color: darkslateblue;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    position: relative;
    font-size: 15px;
}
.btn5:hover{
     transition: all ease-in 0.3s;
    cursor: pointer;
    transform: scale(1.02);
    color: white;
    background-color: #1d023b;
}
.btn6{
    padding: 10px 10px;
    background-color: #111111;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn6:hover{
     transition: all ease-in 0.3s;
    cursor: pointer;
    transform: scale(1.02);
    color: white;
    background-color: #181a1a;
}

.btn7{
    padding: 10px 10px;
    background-color: #f37979;
    color: rgb(5, 5, 5);
    border: none;
    border-radius: 40px;
    cursor: pointer;
}
.btn7:hover{
     transition: all ease-in 0.3s;
    cursor: pointer;
    transform: scale(1.02);
    color: white;
    background-color: #f56f4e;
}
.btn7 span{
    color: white;
    font: 20px bold;
    font-weight: 900;
}
.clock-container {
  position: relative;
  justify-self: center;
  padding: 10px;
  bottom: 20px;
  font-size: 2rem;
  background-color: rgb(6, 44, 87);
  border: none;
  border-radius: 10px;
  color: rgb(242, 250, 242);
}

.btn8{
    padding: 10px 10px;
    background-color: #11a0ff;
    color: rgb(5, 5, 5);
    border: none;
    border-radius: 40px;
    cursor: pointer;
}
.btn8:hover{
     transition: all ease-in 0.3s;
    cursor: pointer;
    transform: scale(1.02);
    color: white;
    background-color: #4e7af5;
}
.btn8 span{
    color: white;
    font: 20px bold;
    font-weight: 900;
}

.btn9{
    padding: 10px 10px;
    background-color: #ffef11;
    color: rgb(5, 5, 5);
    border: none;
    border-radius: 40px;
    cursor: pointer;
}
.btn9:hover{
     transition: all ease-in 0.3s;
    cursor: pointer;
    transform: scale(1.02);
    color: white;
    background-color: #f5f24e;
}
.btn9 span{
    color: rgb(0, 0, 0);
    font: 20px bold;
    font-weight: 900;
}

.btn10{
    padding: 10px 10px;
    background-color: #072c35;
    color: rgb(5, 5, 5);
    border: none;
    border-radius: 40px;
    cursor: pointer;
}
.btn10:hover{
     transition: all ease-in 0.3s;
    cursor: pointer;
    transform: scale(1.02);
    color: white;
    background-color: #031124;
}
.btn10 span{
    color: white;
    font: 20px bold;
    font-weight: 900;
}

.btn11{
    padding: 10px 10px;
    background-color: #11a0ff;
    color: rgb(5, 5, 5);
    border: none;
    border-radius: 40px;
    cursor: pointer;
}
.btn11:hover{
     transition: all ease-in 0.3s;
    cursor: pointer;
    transform: scale(1.02);
    color: white;
    background-color: #1c6380;
}
.btn11 span{
    color: #ff0000;
    font: 20px bold;
    font-weight: 900;
}

.btn12{
    padding: 10px 10px;
    background-color: #0a178d;
    color: rgb(5, 5, 5);
    border: none;
    border-radius: 40px;
    cursor: pointer;
}
.btn12:hover{
     transition: all ease-in 0.3s;
    cursor: pointer;
    transform: scale(1.02);
    color: white;
    background-color: #1d1f92;
}
.btn12 span{
    color: white;
    font: 20px bold;
    font-weight: 900;
}

.btn13{
    padding: 10px 10px;
    background-color: #5348f1;
    color: rgb(5, 5, 5);
    border: none;
    border-radius: 40px;
    cursor: pointer;
}
.btn13:hover{
     transition: all ease-in 0.3s;
    cursor: pointer;
    transform: scale(1.02);
    color: white;
    background-color: #4441d3;
}
.btn13 span{
    color: #080808;
    font: 20px bold;
    font-weight: 900;
}

.btn14{
    padding: 10px 10px;
    background-color: #48f18e;
    color: rgb(5, 5, 5);
    border: none;
    border-radius: 40px;
    cursor: pointer;
}
.btn14:hover{
     transition: all ease-in 0.3s;
    cursor: pointer;
    transform: scale(1.02);
    color: white;
    background-color: #1e582f;
}
.btn14 span{
    color: #080808;
    font: 20px bold;
    font-weight: 900;
}