body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    animation-duration: 1s;
    animation-name: conta;
    animation-delay: 1s;
    animation-direction: alternate;
}
@keyframes conta{
    from{
        transform: scale(0.1) translateX(0px);
        opacity: 0;
    }
    to{
        transform: scale(1) translateX(50px);
        opacity: 1;
    }
}
@media(max-width: 600px) {
    .container {
        padding: 10px;
    }
}
.display {
    font-size: 2rem;
    font-weight: bold;
    width: 10vw;
    height: 10vh;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 15px cyan;
    animation-duration: 2s;
    animation-name: glow;
    background-color: #00adb3;
    animation-iteration-count: 1;
    animation-delay: 2s;
    box-shadow: 0 0 20px cyan;
    }
    .display b{
        position: relative;
        top: 10px;
        text-align: center;
        animation-duration: 2s;
        width: 15vw;
        height: 8vh;
        background-color: honeydew;
        border-radius: 5px;
        animation-name: b;
        box-shadow: 0 0 15px indianred;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    @keyframes b{
        from{
            transform: scale(0.1) rotate(0deg);
            opacity: 1;
            color: black;
            text-shadow: 0 0 10px white;
        }
        to{
            transform: scale(1.2) rotate(360deg);
            opacity: 1;
            text-shadow: 0 0 10px blue;
        }
    }
@keyframes glow {
    from{
        transform: scale(0.1);
        opacity: 0;
    }
    to{
        transform: scale(1) rotate(360deg);
        opacity: 1;
         color: #014769;
         background-color: #00b377;
         text-align: center;
         text-transform: capitalize;
         box-shadow: 0 0 20px cyan;
     }
}
.lead {
    font-size: 1.25rem;
    color: #817f7f;
    animation-duration: 2s;
    animation-name: fadeIn;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    animation-iteration-count: 1;
    animation-delay: 3s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.buttons button {
    padding: 70px 90px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: 1px solid black;
    overflow-wrap: break-word;
    flex-wrap: wrap;
    top: 50px;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.buttons button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
    opacity: 0.9;
    cursor: pointer;
    border: 1px solid cyan;
    box-shadow: 0 0 10px rgb(2, 255, 255);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
@media(max-width: 600px) {
    .buttons {
        flex-direction: column;
        gap: 10px;
    }
    .buttons button {
        width: 70%;
        position: relative;
        left: 15%;
        border: 1px solid blue;
        font-size: 2rem;
        background-color: #00adb3;
        padding: 30px;
    }
}
.card {
    font-size: 1.5rem;
    color: #fff;
    position: relative;
    top: 80px;
    background-color: #0b1a22;
    width: 30vw;
    align-items: center;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
    border-bottom-left-radius: 10px;
    border: 1px solid cyan;
}
.card:hover {
    background-color: #014769;
    transform: scale(1.05);
    box-shadow: 0 0 5px cyan;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.card h2{
    text-align: center;
    padding: 5px;
    color: #00adb3;
}
.card ul li{
    position: relative;
    font-size: 20px;
}
@media(max-width: 600px) {
    .card {
        width: 80vw;
        top: 60px;
        left: 10%;
    }}
    .card1 {
        background-color: #0b1a22;
        border: 1px solid cyan;
        width: 30vw;
        height: auto;
        position: absolute;
        top: 600px;
        border-radius: 5px;
        justify-self: center;
    }
    .card1 h2{
        text-align: center;
        padding: 20px;
        color: #00adb3;
    }
    .card1 ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .card1 ul li {
        padding: 10px;
        text-decoration: none;
        border-bottom: 1px solid cyan;
        text-align: center;
    }
    .card1:hover {
        background-color: #014769;
        transform: scale(1.05);
        box-shadow: 0 0 15px cyan;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }
    @media(max-width: 600px) {
        .card1 {
            width: 80vw;
            top: 100px;
            position: relative;
            height: auto;
        }
    }
    .card2 {
        background-color: #0b1a22;
        border: 1px solid cyan;
        width: 30vw;
        height: auto;
        position: absolute;
        justify-self: right;
        top: 580px;
        border-radius: 5px;
    }
    .card2 h2{
        text-align: center;
        padding: 20px;
        color: #00adb3;
    }
    .card2 h2:hover {
        color: cyan;
        text-shadow: 0 0 10px cyan;
        transform: scale(1.1);
        transition: transform 0.3s ease, color 0.3s ease;
    }
    .card2 h2{
        text-align: center;
        padding: 20px;
        color: #00adb3;
    }
    .card2 p {
        padding: 20px;
        text-align: center;
        color: #bbbaba;
        font-style: italic;
    }
    .card2:hover {
        background-color: #014769;
        transform: scale(1.05);
        box-shadow: 0 0 15px cyan;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }
    @media(max-width: 600px) {
        .card2 {
            width: 80vw;
            top: 120px;
            position: relative;
            height: auto;
            justify-self: center;
        }
    }
    @media(max-width:600px){
        .card2 p{
            font-size: 20px;
        }
    }
    .card5{
         background-color: #0b1a22;
        border: 1px solid cyan;
        width: 30vw;
        height: auto;
        position: relative;
        top: 80px;
        margin-left: 40px;
        text-align: center;
        border-radius: 5px;
    }
    .card5 h2{
        text-align: center;
        padding: 20px;
        color: #00adb3;
    }
    .card5 p{
         font-size: 20px;
    }
    .card5:hover{
         background-color: #014769;
        transform: scale(1.05);
        box-shadow: 0 0 15px cyan;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }
    @media(max-width:600px){
        .card5{
             width: 80vw;
            top: 120px;
            position: relative;
            height: auto;
            justify-self: center;
            margin-left: 0px;
        }
    }
    .footer{
        position: relative;
        width: 100%;
        height:60vh;
        top: 120px;
        background-color: #000;
        justify-self: center;
    }
    .line{
        position: relative;
        top: 120px;
        width: 400px;
        justify-self: center;
        animation-duration: 2s;
        animation-name: lin;
        animation-delay: 2s;
        animation-iteration-count: 1;
        animation-direction: alternate;
    }
    @keyframes lin{
        from{
            transform: translateY(0px);
            opacity: 0;
        }
        to{
            transform: translateY(10px);
            opacity: 1;
        }
    }
    @media(max-width:600px){
        .line{
            position: relative;
            width: 100px;
        }
    }
    .line hr{
        position: relative;
        padding: 2px;
        background-color: green;
        border: 1px solid green;
        border-radius: 5px;
         transform: scale(1.05);
        box-shadow: 0 0 15px cyan;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }
    @media(max-width:600px){
        .line hr{
            position: relative;
            background-color: cyan;
            box-shadow: 0 0 15px #0aff16;
        }
    }
    .link{
        position: relative;
        width: 20vw;
        height: auto;
        text-align: center;
        cursor: pointer;
    }
    .link h2{
        padding: 10px;
        color: #00adb3;
    }
    .links{
        display: grid;
        gap: 5px;
        flex-wrap: wrap;
    }
    .links  li a{
        position: relative;
        text-decoration: none;
        color: whitesmoke;
        cursor: pointer;
    }
    .links li a:hover{
        transition: all ease 0.3s;
        transform:scale(0.9);
        opacity: 1;
        margin-left: 30px;
        text-indent: 2;
        color: cyan;
        text-shadow: 0 0 15px cyan;
        transition: transform 0.3s ease;
    }
    .card4{
        position: absolute;
        justify-self: center;
        width: 25vw;
        height: auto;
        cursor: pointer;
        text-align: center;
        top: 0px;
    }
    .card4 h2{
        position: relative;
        padding: 10px;
        color:#00adb3;
    }
    .card4 img{
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        border: 2px dotted cyan;
        animation-duration: 2s;
        animation-name: card4;
        animation-delay: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    @keyframes card4{
        from{
            transform: scale(0.1) rotate(0deg);
            opacity: 0;
        }
        to{
            transform: scale(1) rotate(360deg);
            opacity: 1;
            box-shadow: 0 0 15px cyan;
        }
    }
    .card4 img:hover{
         background-color: #014769;
        transform: scale(1.05);
        margin-left: 20px;
        cursor: pointer;
        border: 2px solid cyan;
        box-shadow: 0 0 15px cyan;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }
    .card3{
        position: absolute;
        justify-self: right;
        top: 0px;
        width: 30vw;
        cursor: pointer;
        height: auto;
        text-align: center;
    }
    .card3 h2{
        position: relative;
        color: #00adb3;
        padding: 10px;
    }
    .card3 p{
        position: relative;
        overflow-wrap: break-word;
        font-style: italic;
        font-family: 'Arial', sans-serif;
    }
    .para{
        position: relative;
        top: 130px;
        justify-self: center;
        color: #646262;
        overflow-wrap: break-word;
    }
    @media(max-width:600px){
        .footer{
            position: relative;
            height:125vh;
        }
    }
    @media(max-width:600px){
        .card4{
            position: relative;
            justify-self: left;
            top: 40px;
        }
    }
    @media(max-width:600px){
        .card3{
            position: relative;
            justify-self: left;
            top: 70px;
        }
    }
    @media(max-width:600px){
        .para{
            position: relative;
            justify-self: left;
            top: 70px;
            color: white;
            font: 20px bold;
        }
    }