body{
    background-color: hsl(195, 87%, 9%);
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
}
.navbar{
    position: relative;
    width: 100vw;
    justify-self: center;
    padding: 10px;
    background-color: #202992;
    justify-self: center;
    justify-items: end;
}
@media(max-width:600px){
    .navbar{
        position: relative;
        width: 90vw;
        justify-items: center;
        justify-self: center;
    }
}
.logo{
    position: relative;
    justify-self: left;
    margin-left: 30px;
    font: 20px bold;
    width: 100px;
    top: 5px;
    height: 40px;
    box-shadow: 0 0 15px cyan;
    text-align: center;
    border-radius: 10px;
    overflow-wrap: break-word;
    background-color: #353d99;
}
@media(max-width:600px){
    .logo{
        position: relative;
        justify-self: left;
        margin-left: 10px;
        top: 0px;
    }
}
@media(max-width:600px){
    .menu a{
        position: relative;
        font: bold;
        font-size: 15px;
        margin-left: 10px;
        gap: 5px;
        top: 5px;
    }
}
.logo:hover{
    transition: all ease 0.3s;
    transform: scale(1.05);
    background-color: #00a2ff;
    cursor: pointer;
}
.logo span{
    position: relative;
    color: white;
    top: 5px;
}
.logo a{
    position: relative;
    text-decoration: none;
}
.menu{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.menu a{
    position: relative;
    text-decoration: none;
    flex-wrap: wrap;
    color: white;
    margin-right: 20px;
    bottom: 20px;
}
.menu a:hover{
    transition: all ease 0.3s;
    box-shadow: 0 0 10px cyan;
    padding: 10px 10px;
    background-color: #00a2ff;
    color: black;
    border-radius: 10px;
}
.card{
    position: relative;
    top: 20px;
    width: 90vw;
    border-radius: 20px;
    height: auto;
    border: 1px solid cyan;
    justify-self: center;
    background-image: url('./image/ima.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation-duration: 1s;
    animation-name: eva;
    animation-delay: 1;
    animation-direction: alternate;
}
.card:hover{
     transform: scale(1.05);
    opacity: 1;
    background-color: #353d99;
    transition: all ease 0.3s;
    box-shadow: 0 0 10px #02bdbd;
    cursor: pointer;
}
@keyframes eva{
    from{
        transform: scale(0.9) translateX(0px);
        opacity: 0.5;
        border-radius: 10px;
    }
    to{
        transform: scale(1) translateY(5px);
        opacity: 1;
    }
}
.card1{
    position: relative;
    justify-self: left;
    margin-left: 60px;
    top: 0px;
    width: 50vw;
    height: auto;
}
.card1 h1{
    position: relative;
    color: #05eeff;
    text-transform: uppercase;
    top: 10px;
    text-shadow: 0 0 10px rgb(245, 248, 248);
}
.card1 b{
    position: relative;
    font: 20px bold;
    color: white;
    overflow-wrap: break-word;
}
.card1 strong{
    position: relative;
    top: 20px;
    overflow-wrap: break-word;
    color: hsl(128, 100%, 51%);
}
.card1 ul{
    position: relative;
    top: 20px;
    font: 20px bold;
    font-weight: 500;
    color: hsl(152, 100%, 52%);
    overflow-wrap: break-word;
}
.card1 p{
    position: relative;
    overflow-wrap: break-word;
    top: 0px;
    font: 20px bold;
    color: #ffffff;
    font-weight: 500;
}
@media(max-width:600px){
    .card{
        position: relative;
        width: 85vw;
        top: 10px;
    }
}
@media(max-width:600px){
    .card1{
        position: relative;
        width: 80vw;
        justify-self: center;
        top: 0px;
        height:135vh;
        margin-left: 0px;
    }
}
@media(max-width:600px){
    .card1 p{
        position: relative;
        font: bold;
    }
}
@media(max-width:600px){
    .card1 ul{
        position: relative;
        top: 10px;
    }
}
.card2{
    position: relative;
    width: 90vw;
    border-radius: 20px;
    height: auto;
    justify-self: center;
    background-color: #357199;
    border: 1px solid cyan;
    top: 40px;
    animation-duration: 1s;
    animation-name: ev;
    animation-delay: 1;
    animation-direction: alternate;
}
.card2:hover{
     transform: scale(1.05);
    opacity: 1;
    background-color: #353d99;
    transition: all ease 0.3s;
    box-shadow: 0 0 10px #02bdbd;
    cursor: pointer;
}
@keyframes ev{
    from{
        transform: scale(0.9) translateX(0px);
        opacity: 0.5;
        border-radius: 10px;
    }
    to{
        transform: scale(1) translateY(5px);
        opacity: 1;
    }
}
.card3{
    position: relative;
    width: 80vw;
    justify-self: center;
    height: auto;
}
.card3 h2{
    position: relative;
    color: purple;
    top: 10px;
    margin-left: 30px;
    text-shadow: 0 0 10px indianred;
}
.card3 p{
      position: relative;
    overflow-wrap: break-word;
    top: 0px;
    margin-left: 30px;
    font: 20px bold;
    color: #ffffff;
    font-weight: 500;
}
.card3 b{
      position: relative;
    font: 20px bold;
    color: white;
    bottom: 20px;
    margin-left: 20px;
    overflow-wrap: break-word;
}
.card3 ul{
      position: relative;
    bottom: 20px;
    font: 20px bold;
    font-weight: 500;
    overflow-wrap: break-word;
}
.card3 i{
    position: relative;
     overflow-wrap: break-word;
    bottom: 20px;
    font: 20px bold;
    color: #ffffff;
    font-weight: 500;
}

@media(max-width:600px){
    .card2{
        position: relative;
        width: 85vw;
        top: 20px;
        height: 150vh;
    }
}
@media(max-width:600px){
    .card3{
        position: relative;
        width: 80vw;
        justify-self: center;
        top: 0px;
        margin-left: 0px;
    }
}

.card4{
    position: relative;
    width: 90vw;
    border-radius: 20px;
    height: auto;
    justify-self: center;
    background-color: #1f435c;
    border: 1px solid cyan;
    top: 60px;
    animation-duration: 1s;
    animation-name: ev;
    animation-delay: 1;
    animation-direction: alternate;
}
.card4:hover{
     transform: scale(1.05);
    opacity: 1;
    background-color: #353d99;
    transition: all ease 0.3s;
    box-shadow: 0 0 10px #02bdbd;
    cursor: pointer;
}
@keyframes ev{
    from{
        transform: scale(0.9) translateX(0px);
        opacity: 0.5;
        border-radius: 10px;
    }
    to{
        transform: scale(1) translateY(5px);
        opacity: 1;
    }
}

@media(max-width:600px){
    .card4{
        position: relative;
        width: 85vw;
        top: 60px;
        height: 150vh;
    }
}
.item{
     position: relative;
    width: 80vw;
    justify-self: center;
    height: auto;
}
.item h2{
    position: relative;
    color: purple;
    top: 10px;
    margin-left: 30px;
    text-shadow: 0 0 10px indianred;
}
.item b{
    position: relative;
    font: 20px bold;
    color: white;
    overflow-wrap: break-word;
}
.item strong{
    position: relative;
    top: 20px;
    overflow-wrap: break-word;
    color: hsl(128, 100%, 51%);
}
.item ul{
    position: relative;
    top: 20px;
    font: 20px bold;
    font-weight: 500;
    color: hsl(152, 100%, 52%);
    overflow-wrap: break-word;
}
.item p{
    position: relative;
    overflow-wrap: break-word;
    top: 0px;
    font: 20px bold;
    color: #ffffff;
    font-weight: 500;
}
.card5{
    position: relative;
    width: 90vw;
    border-radius: 20px;
    height: auto;
    justify-self: center;
    background-color: #203949;
    border: 1px solid cyan;
    top: 80px;
    animation-duration: 1s;
    animation-name: ev;
    animation-delay: 1;
    animation-direction: alternate;
}
@keyframes ev{
    from{
        transform: scale(0.9) translateX(0px);
        opacity: 0.5;
        border-radius: 10px;
    }
    to{
        transform: scale(1) translateY(5px);
        opacity: 1;
    }
}

@media(max-width:600px){
    .card5{
        position: relative;
        width: 85vw;
        bottom: 30px;
        height: 150vh;
    }
}

.card6{
     position: relative;
    width: 80vw;
    justify-self: center;
    height: auto;
}
.card6 h2{
    position: relative;
    color: purple !important;
    top: 10px;
    margin-left: 30px;
    text-shadow: 0 0 10px indianred;
}
.card6 b{
    position: relative;
    font: 20px bold;
    color: white;
    overflow-wrap: break-word;
}
.card6 strong{
    position: relative;
    top: 20px;
    overflow-wrap: break-word;
    color: hsl(128, 100%, 51%);
}
.card6 ul{
    position: relative;
    top: 20px;
    font: 20px bold;
    font-weight: 500;
    color: hsl(152, 100%, 52%);
    overflow-wrap: break-word;
}
.card6 p{
    position: relative;
    overflow-wrap: break-word;
    top: 10px;
    font: 20px bold;
    color: #ffffff;
    font-weight: 500;
}
.card5:hover{
    transform: scale(1.05);
    opacity: 1;
    background-color: #353d99;
    transition: all ease 0.3s;
    box-shadow: 0 0 10px #02bdbd;
    cursor: pointer;
}

.card5{
    position: relative;
    width: 90vw;
    border-radius: 20px;
    height: auto;
    justify-self: center;
    background-color: #203949;
    border: 1px solid cyan;
    top: 80px;
    animation-duration: 1s;
    animation-name: ev;
    animation-delay: 1;
    animation-direction: alternate;
}
@keyframes ev{
    from{
        transform: scale(0.9) translateX(0px);
        opacity: 0.5;
        border-radius: 10px;
    }
    to{
        transform: scale(1) translateY(5px);
        opacity: 1;
    }
}

@media(max-width:600px){
    .card5{
        position: relative;
        width: 85vw;
        bottom: 30px;
        height: 150vh;
    }
}
.card9{
     position: relative;
    width: 90vw;
    border-radius: 20px;
    height: auto;
    justify-self: center;
    background-color: #1b2c36;
    border: 1px solid cyan;
    top: 100px;
    animation-duration: 1s;
    animation-name: ev;
    animation-delay: 1;
    animation-direction: alternate;
}

@media(max-width:600px){
    .card8{
        position: relative;
        width: 85vw;
        bottom: 30px;
        height: 150vh;
    }
}
.card8{
     position: relative;
    width: 80vw;
    justify-self: center;
    height: auto;
}
.card8 h2{
    position: relative;
    color: purple !important;
    top: 10px;
    margin-left: 30px;
    text-shadow: 0 0 10px indianred;
}
.card8 b{
    position: relative;
    font: 20px bold;
    color: white;
    overflow-wrap: break-word;
}
.card8 strong{
    position: relative;
    top: 20px;
    overflow-wrap: break-word;
    color: hsl(128, 100%, 51%);
}
.card8 ul{
    position: relative;
    top: 20px;
    font: 20px bold;
    font-weight: 500;
    color: hsl(152, 100%, 52%);
    overflow-wrap: break-word;
}
.card8 p{
    position: relative;
    overflow-wrap: break-word;
    top: 10px;
    font: 20px bold;
    color: #ffffff;
    font-weight: 500;
}
.card9:hover{
    transform: scale(1.05);
    opacity: 1;
    background-color: #353d99;
    transition: all ease 0.3s;
    box-shadow: 0 0 10px #02bdbd;
    cursor: pointer;
}
.card7{
    position: relative;
    width: 100vw !important;
    height: 50vh;
    background-color: #0c1922;
    top: 110px;
    animation-duration: 1s;
    animation-name: ev;
    animation-delay: 1;
    animation-direction: alternate;
}
@keyframes ev{
    from{
        transform: scale(0.9) translateX(0px);
        opacity: 0.5;
        border-radius: 10px;
    }
    to{
        transform: scale(1) translateY(5px);
        opacity: 1;
    }
}
@media(max-width:600px){
    .card7{
        position: relative;
        height: 115vh;
    }
}
.col{
    position: relative;
    top: 10px;
    margin-left: 10px;
    width: 15vw;
    height: auto;
    text-align: center;
    justify-self: left;
}
.col h4{
    position: relative;
    color: #05eeff;
    font: bold;
    top: 5px;
}
.link{
    display: grid;
    gap: 5px;
    flex-wrap: wrap;
}
.link a{
    position: relative;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.link a:hover{
    transition: all ease 0.3s;
    color: #00a2ff;
    cursor: pointer;
    transform: scale(1.05) translateX(5px);
    margin-left: 0px;
}


.col1{
    position: absolute;
    top: 10px;
    width: 15vw;
    height: auto;
    text-align: center;
    justify-self: center;
}
@media(max-width:600px){
    .col1{
        position: relative;
        justify-self: left;
        top: 0px;
        margin-left: 20px;
    }
}
.col1 h4{
    position: relative;
    color: #05eeff;
    font: bold;
    top: 5px;
}
.link1{
    display: grid;
    gap: 5px;
    flex-wrap: wrap;
}
.link1 a{
    position: relative;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.link1 a:hover{
    transition: all ease 0.3s;
    color: #00a2ff;
    cursor: pointer;
    transform: scale(1.05) translate(5px);
    margin-left: 0px;
}


.col2{
    position: absolute;
    top: 10px;
    margin-right: 10px;
    width: 15vw;
    top: 0px;
    height: auto;
    text-align: center;
    justify-self: right;
}

@media(max-width:600px){
    .col2{
        position: relative;
        justify-self: left;
        top: 0px;
        margin-left: 20px;
    }
}
.col2 h4{
    position: relative;
    color: #05eeff;
    font: bold;
    top: 5px;
}
.link2{
    display: grid;
    gap: 5px;
    flex-wrap: wrap;
}
.link2 a{
    position: relative;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.link2 a:hover{
    transition: all ease 0.3s;
    color: #00a2ff;
    cursor: pointer;
    transform: scale(1.05) translateX(5px);
    margin-left: 0px;
}

.footer-bottom{
    position: relative;
    top: 30px;
    margin-left: 20px;
    width: 20vw;
    text-align: center;
    height: auto;
    overflow-wrap: break-word;
}
.footer-bottom span{
    position: relative;
    color: #05eeff;
}
.link3{
    display: grid;
    flex-wrap: wrap;
    gap: 5px;
}
.link3 a{
     position: relative;
    color: white;
    margin-left: center;
    text-decoration: none;
    cursor: pointer;
}
.link3 a:hover{
     transition: all ease 0.3s;
    color: #00a2ff;
    cursor: pointer;
    transform: scale(1.05) translateX(5px);
    margin-left: 0px;
}
.social{
    position: absolute;
    top: 150px;
    justify-self: center;
    text-align: center;
}

@media(max-width:600px){
    .social{
        position: absolute;
        justify-self: center;
        top: 0px;
    }
}
.social-media{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.social-media a img{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid cyan;
    cursor: pointer;
    animation-duration: 5s;
    animation-name: social;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes social{
    from{
        transform: scale(0) rotate(0deg);
        opacity: 0;
    }
    to{
        transform: scale(1) rotate(360deg);
        opacity: 1;
        box-shadow: 0 0 20px cyan;
    }
}

@media(max-width:600px){
    .social-media{
        position: relative;
        display: grid;
    }
}
.social h4{
     position: relative;
    color: #05eeff;
    overflow-wrap: break-word;
    flex-wrap: wrap;
    top: 5px;
}
.social-media img:hover{
    transform: scale(1.1) translateY(10px);
    transition: all ease 0.3s;
    box-shadow: 0 0 20px cyan;
    margin-top: 0px;
    cursor: pointer;
}
