body{
    margin: 0;
    font-family: Arial,  sans-serif;
    background-color: #000000;
}
.container{
    position: relative;
    top: 10px;
    width: 90vw;
    height: 90vh;
    background-color: #011a2b;
    box-shadow: 0 0 5px cyan;
    justify-self: center;
    border-radius: 20px;
    animation-duration: 5s;
    animation-name: eva;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: alternate-reverse;
}
@keyframes eva{
    25%{
        transform:scale(0) translateX(20px);
        opacity: 0;
    }
    50%{
        transform:scale(0.5) translateY(0px);
        opacity: 1;
    }
    100%{
        transform:scale(1) translateY(-20px);
        opacity: 0;
    }
}
.card{
    position: relative;
    justify-self: center;
    width: 60vw;
    height: auto;
    overflow-wrap: break-word;
    text-align: center;
    top: 20px;
    
}
.card h2{
    position: relative;
    color: #02ffd5;
    text-shadow: 0 0 10px cyan;
}
.card p{
    position: relative;
    color: #bcbcbe;
    font: 20px bold;
    overflow-wrap: break-word;
}
.card1{
    position: relative;
    width: 25vw;
    height: auto;
    background-color: #011a2b;
    margin-left: 20px;
    border: 1px solid darkcyan;
    top: 60px;
    border-radius: 10px;
}
.card1:hover{
     transform: translateY(5px);
    transition: all ease 0.3s;
    box-shadow: 0 0 20px cyan;
    background-color: #011a2b;
    cursor: pointer;
    transform: scale(1.1);
    padding-bottom: 0px;
    border: 1px solid cyan;
}
.card1 h3{
    position: relative;
    color: #02ffd5;
    margin-left: 20px;
}
.card1 p{
    position: relative;
    margin-left: 20px;
    overflow-wrap: break-word;
    color: rgb(182, 179, 179);
}
.card2{
    position: absolute;
    justify-self: center;
    width: 25vw;
    height: auto;
    border-radius: 10px;
    background-color: #011f33;
     border: 1px solid darkcyan;
     top: 300px;
}
.card2:hover{
     transform: translateY(5px);
    transition: all ease 0.3s;
    box-shadow: 0 0 20px cyan;
    background-color: #011a2b;
    cursor: pointer;
    transform: scale(1.1);
    padding-bottom: 0px;
    border: 1px solid cyan;
}
.card2 h3{
 position: relative;
    color: #02ffd5;
    margin-left: 20px;
}
.card2 p{
     position: relative;
    margin-left: 20px;
    overflow-wrap: break-word;
    color: rgb(182, 179, 179);
}
.card3{
    position: relative;
    justify-self: right;
    width: 25vw;
    margin-right: 20px;
    bottom: 80px;
    height: auto;
    background-color: #011f33;
    border: 1px solid darkcyan;
    border-radius: 10px;
}
.card3 h3{
    position: relative;
    color: #02ffd5;
    margin-left: 20px;
}
.card3 p{
      position: relative;
    margin-left: 20px;
    overflow-wrap: break-word;
    color: rgb(182, 179, 179);
}
.card3:hover{
    transform: translateY(5px);
    transition: all ease 0.3s;
    box-shadow: 0 0 20px cyan;
    background-color: #011a2b;
    cursor: pointer;
    transform: scale(1.1);
    padding-bottom: 0px;
    border: 1px solid cyan;
}
.container button{
    position: relative;
    margin-left: 20px;
    bottom: 20px;
    font-size: 1rem;
    cursor: pointer;
    padding: 15px 30px;
    background-color: hsl(221, 96%, 50%);
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 10px;
}
.container button:hover{
    transition: all ease 0.3s;
    color: #02ffd5;
    transform: scale(1.05);
    background-color: #011f33;
    cursor: pointer;
    box-shadow: 0 0 15px cyan;
}
@media(max-width:600px){
    .container{
        position: relative;
        width: 90vw;
        height: auto;
        justify-self: center;
    }
}
@media(max-width:600px){
    .card{
        position: relative;
        width: 80vw;
        height: auto;
        border-radius: 10px;
    }
}
@media(max-width:600px){
    .card1{
        position: relative;
        margin-left: 0px;
        justify-self: center;
        width: 80vw;
        height: auto;
        border: 1px solid pink;
        background-color: #094e45;
        border-radius: 10px;
    }
}
@media(max-width:600px){
    .card1 p{
        position: relative;
        color: black;
        font: 20px bold;
    }
}
@media(max-width:600px){
    .card2{
         position: relative;
        margin-left: 0px;
        justify-self: center;
        width: 80vw;
        height: auto;
        top: 70px;
        border: 1px solid pink;
        background-color: #094e45;
        border-radius: 10px;
    }
}

@media(max-width:600px){
    .card2 p{
        position: relative;
        color: black;
        font: 20px bold;
    }
}

@media(max-width:600px){
    .card3{
         position: relative;
        margin-right: 0px;
        justify-self: center;
        width: 80vw;
        height: auto;
        top: 80px;
        border: 1px solid pink;
        background-color: #094e45;
        border-radius: 10px;
    }
}
@media(max-width:600px){
    .container button{
        position: relative;
        top: 100px;
    }
}
@media(max-width:600px){
    .card3 p{
        position: relative;
        font: 20px bold;
        color:black;
    }
}