body{
    background-color: #38037c;
    font-family: Arial, sans-serif;
    margin: 0;
}
.navbar{
    position: relative;
    width: 100vw;
    height: 10vh;
    background-color: #170d2e;
    justify-items: right;
    justify-self: center;
}
@media(max-width:600px){
    .navbar{
        position: relative;
        background-color: #000000;
        color: white;
        justify-items: right;
        padding: 10px;
        flex-wrap: wrap;
    }
}
@media(max-width:600px){
    .nav-links a{
        position: relative;
        margin-left:60px;
        top: 10px;
        color:white;
    }
}

@media(max-width:600px){
    .nav-links{
        flex-wrap: wrap;
        gap: 0px;
        display: grid;
    }
}
.nav-links{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.nav-links a{
    position: relative;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    bottom: 20px;
}
.nav-links a:hover{
    transition: all ease 0.3s;
    cursor: pointer;
    padding: 10px 10px;
    background-color: #0f8ef7;
    color: #000000;
    border-radius: 10px;
}
.logo{
    position: relative;
    justify-self: left;
    margin-left: 20px;
    padding: 10px 10px;
    border-radius: 5px;
    top: 10px;
    text-align: center;
    box-shadow: 0 0 20px cyan;
    background-color: #0f8ef7;
}
@media(max-width:600px){
    .logo{
        position: relative;
        top: 0px;
        padding: 10px 10px;
        justify-self: center;
        overflow-wrap: break-word;
    }
}
.logo b{
    position: relative;
    top: 0px;
    font: bold;
    cursor: pointer;
    text-align: center;
}
.logo:hover{
    transition: all ease 0.3s;
    cursor: pointer;
    transform: scale(1.05);
    opacity: 1;
    background-color: #0f2b42;
    color: white;
    box-shadow: 0 0 20px rgb(34, 134, 248);
}
.library-header{
    position: relative;
    text-align:left;
    margin-left: 20px;
}
.library-header h1{
    position: relative;
    color: #0ff7d0;
}
.library-section{
    position: relative;
    width: 30vw;
    margin-left: 20px;
    height: auto;
    background-color: #180a24;
    border-radius: 10px;
}

.library-controls{
    position: relative;
    text-align: center;
}
.container p{
    position: relative;
    color: white;
}
.library-controls button{
    padding: 10px 15px;
    font: 20px bold;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    border: none;
    background-color: #0f8ef7;
}
.library-controls button:hover{
    transition: all ease 0.3s;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgb(6, 255, 255);
}
.library-controls h2{
    position: relative;
    color: #0ff7d0;
    top: 5px;
}
@media(max-width:600px){
    .library-section{
        position: relative;
        width: 85vw;
        height: auto;
        justify-self: center;
        margin-left: 0px;
    }
}
.search-bar{
position: relative;
text-align: center;
}
.search-bar input{
    position: relative;
    width: 20vw;
    height: 4vh;
    border: 1px solid cyan;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}
@media(max-width:600px){
    .search-bar input{
        width: 30vw;
        height: 4vh;
    }
}
.search-bar input:hover{
    transition: all ease 0.3s;
    border: 1px solid hotpink;
    cursor: pointer;
}
.search-bar input::placeholder{
    color: black;
    font-weight: 500;
    font: bold;
    font-style: italic;
}
.search-bar button{
    position: relative;
    padding: 8px 8px;
    font: bold;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    background-color: hsl(133, 100%, 50%);
}
.search-bar button:hover{
    transition: all ease 0.3s;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgb(6, 255, 255);
}
.search-bar  select{
    position: relative;
    width: 10vw;
    height: 6vh;
    background-color: #000000;
    color: white;
    font: 20px bold;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
@media(max-width:600px)
{
    .search-bar select{
        position: relative;
        width: 40vw;
        height: 6vh;
    }
}
.search-bar select:hover{
    transition: all ease 0.3s;
    cursor: pointer;
    background-color: #0f2b42;
    counter-reset: white;
    transform: scale(1.05);
    opacity: 1;
    border-radius: 0px;
    box-shadow: 0 0 10px cyan;
}
.books-grid p{
    position: relative;
    color: white;
    text-align: center;
    font: 20px bold;
}
.container button{
    position: relative;
    margin-left: 20px;
    padding: 10px 10px;
    background-color: #0f8ef7;
    border: none;
    cursor: pointer;
    font: 20px bold;
    border-radius: 5px;
}
.container button:hover{
    transition: all ease 0.3s;
    transform: scale(1.05);
    box-shadow:  0 0 15px cyan;
}
.modal{
    position: absolute;
    justify-self: right;
    margin-right: 20px;
    top: 170px;
    width: 50vw;
    height:auto;
    border-radius: 10px;
    background-color:#0f2b3b;
}
@media(max-width:600px){
    .modal{
        position: relative;
        width:90vw;
        height:auto;
        justify-self: center;
        margin-right: 0px;
        top: 10px;
        background-color: white;
    }
}
.modal-content{
    position: relative;
}
.close span{
    position: relative;
    color: red;
}
.modal h2{
    position: relative;
    color: #0ff7d0;
    text-align: center;
}
.form-group{
    position: relative;
    text-align: center;
}
.form-group label{
    position: relative;
    color: #0f8ef7;
    overflow-wrap: break-word;
}
.form-group input{
    position: relative;
    width: 20vw;
    height: 4vh;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid cornflowerblue;
    color: rgb(3, 3, 3);
}
.form-group input::placeholder{
    font-weight: 500;
    font-style: italic;
    color: black;
}
.form-group input:hover{
    transition: all ease 0.3s;
    transform: scale(1.01);
    cursor: pointer;
    border: 1px solid #00f5fd;
}
.form-group5{
     position: relative;
    text-align: center;
}
.form-group5 label{
    position: relative;
    color: #0f8ef7;
    overflow-wrap: break-word;
}
.form-group5 input{
     position: relative;
    width: 20vw;
    height: 4vh;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid cornflowerblue;
    color: rgb(3, 3, 3);
}
.form-group5 input::placeholder{
     font-weight: 500;
    font-style: italic;
    color: black;
}
.form-group5 input:hover{
     transition: all ease 0.3s;
    transform: scale(1.01);
    cursor: pointer;
    border: 1px solid #00f5fd;
}
.form-group1{
     position: relative;
    text-align: center;
}
.form-group1 label{
      position: relative;
    color: #0f8ef7;
    overflow-wrap: break-word;
}
.form-group1 select{
     position: relative;
    width: 20vw;
    height: 5vh;
    border-radius: 5px;
    background-color: #000000;
    cursor: pointer;
    border: 1px solid cornflowerblue;
    color: white;
}
.form-group1 select:hover{
      transition: all ease 0.3s;
    transform: scale(1.01);
    cursor: pointer;
    border: 1px solid #00f5fd;
    border-radius: 10px;
    text-align: center;
}
.form-group2{
     position: relative;
    text-align: center;
}
.form-group2 label{
      position: relative;
    color: #0f8ef7;
    overflow-wrap: break-word;
}
.form-group2 textarea{
    position: relative;
    width: 20vw;
    height: 6vh;
    border-radius: 5px;
    background-color: #666363;
    cursor: pointer;
    border: 1px solid cornflowerblue;
    color: white;
}
.form-group2 textarea::placeholder{
    font-weight: 500;
    font-style: italic;
    color: black;
}
.form-group2 textarea:hover{
    transition: all ease 0.3s;
    transform: scale(1.01);
    cursor: pointer;
    border: 1px solid #00f5fd;
    border-radius: 10px;
    text-align: center;
}
.form-group3{
    position:relative;
    text-align:center;
}
.form-group3 label{
    position: relative;
    color: #0ff7d0;
}
.form-group3 input{
    position: relative;
   text-align: center;
   cursor: pointer;
}
.form-group4 label{
    position: relative;
    color: #0ff7d0;
}
.form-group4{
    position: relative;
    text-align: center;
}
.form-group4 input{
    position: relative;
    text-align: center;
}
.modal-content button {
    position: relative;
    padding: 10px 10px;
    margin-left: 30px;
    background-color: blue;
    font: 20px bold;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
}
.modal-content button:hover{
    transition: all ease 0.3s;
    transform: scale(1.05);
    box-shadow:  0 0 15px cyan;
    background-color: #000000;
}
.footer{
    position: relative;
    height: 50vh;
    background-color: #000000;
    top: 150px;
}
.footer-section{
    position: relative;
    width: 30vw;
    height: auto;
    text-align: center;
    justify-self: left;
    top: 10px;
    margin-left: 20px;
}
.footer-section h4{
    position: relative;
    color: #0ff768;
}
.footer-section p{
    position: relative;
    color: rgb(133, 130, 130);
    overflow-wrap: break-word;
}
.footer-section1{
    position: absolute;
    width: 30vw;
    height: auto;
    text-align: center;
    justify-self: center;
    top: 0px;
}
.footer-section1 h4{
    position: relative;
    color: #0ff768;
    overflow-wrap: break-word;
}
.menu{
    display: grid;
    gap: 5px;
    flex-wrap: wrap;
}
.menu a{
    position: relative;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.menu a:hover{
    transform: translate(10px);
    margin-left: 0px;
    color: #0ff768;
    transition: ease 0.3s;
}
.footer-section2{
    position: absolute;
    width: 30vw;
    height: auto;
    text-align: center;
    justify-self:right;
    margin-right: 20px;
    top: 0px;
}
.footer-section2 h4{
    position: relative;
    color: #0ff768;
    overflow-wrap: break-word;
}
.footer-section2 p{
    position: relative;
    color: #6e6c6c;
    overflow-wrap: break-word;
}
.footer-section3{
    position: relative;
    width: 30vw;
    height: auto;
    transform: translate(30%);
    justify-self: center;
    top: 90px;
}
.footer-section3 h4{
     position: relative;
    color: #0ff768;
    margin-left: 60px;
    overflow-wrap: break-word;
}
.social-links{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.social-links a img{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    animation-duration: 5s;
    animation-name: eva;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes eva{
    from{
        transform: scale(0) rotate(0deg);
        opacity: 0;
    }
    to{
        transform: scale(1) rotate(360deg);
        opacity: 1;
        box-shadow: 0 0 20px cyan;
    }
}
.footer-bottom{
    position: relative;
    text-align: center;
    top: 90px;
    color: rgb(109, 107, 107);
    overflow-wrap: break-word;
}
.social-links a img:hover{
    transform: scale(1.01) translateY(5px);
    margin-left: 0px;
    cursor: pointer;
    border: 1px solid cyan;
    box-shadow:  0 0 15px cyan;
}
@media(max-width:600px){
    .footer{
        position: relative;
        height: 105vh;
        background-color: #180a24;
    }
}
@media(max-width:600px){
    .footer-section1{
        position: relative;
        justify-self: left;
        
        margin-left: 20px;
    }
}
@media(max-width:600px){
    .footer-section3{
        position: relative;
        top: 0px;
        transform: translate(0%);
        margin-left: 0px;
    }
}
@media(max-width:600px){
    .footer-bottom{
        position: relative;
        top: 40px;
    }
}